body {
    font-family: $font-gilroy;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

// Animation

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

#form-quote {
    animation: slideInFromRight 1s ease-in;
}

footer {
    .section-footer-bottom {
        background: #eee;
    }

    .footer-nav-li {
        font-size: 0.875rem;
        line-height: 1.47rem;
        color: #58585a
    }

    .footer-nav-li-before::before {
        @include media-breakpoint-up(lg) {
            content: "|";
            padding-right: 1.5rem;
        }
    }
}


//Pulsating Circle
.pulsating-circle {
    position: absolute;
    left: -4%;
    top: 49%;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;
    
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: $primary;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #EF3636;
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }