$primary: #440099;
$secondary: #C2046E;
$tertiary: #3729C2;
$dark: #393A41;
$light: #e5e5e5;
$black: #000000;
$white: #ffffff;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "tertiary": $tertiary,
        "black": $black,
        "white": $white,
    ),
    $theme-colors
);

// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
    xxl: 1748px,
) !default;
// Container sizing
$container-max-widths: (
    sm: 540px,
    md: 740px,
    lg: 1280px,
    xl: 1442px,
    xxl: 1628px,
) !default;

// $input-btn-padding-y: 1.25rem !default;
// $input-btn-padding-x: 2.5rem !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (
        6: (
            $spacer * 4,
        ),
        7: (
            $spacer * 5,
        ),
        8: (
            $spacer * 6,
        ),
        9: (
            $spacer * 7,
        ),
        10: (
            $spacer * 10,
        ),
        11: (
            $spacer * 11,
        ),
        12: (
            $spacer * 12,
        ),
        13: (
            $spacer * 13,
        ),
        14: (
            $spacer * 14,
        ),
        15: (
            $spacer * 15,
        ),
        16: (
            $spacer * 16,
        ),
        17: (
            $spacer * 17,
        ),
        18: (
            $spacer * 18,
        ),
        19: (
            $spacer * 19,
        ),
        20: (
            $spacer * 20,
        ),
        23: (
            $spacer * 23,
        ),
        25: (
            $spacer * 25,
        ),
    ),
    $spacers
);

$form-group-margin-bottom: 0 !default;
