$primary: #803DD4;
$secondary: #F9A51A;
$tertiary: #ededed;
$black: #000000;
$white: #ffffff;
$light: #f3f3f3;
$dark: #8B8B8B;
$grey: #d9d9d9;

$theme-colors: () !default;

$theme-colors: map-merge((
            "primary": $primary,
            "secondary": $secondary,
            "tertiary": $tertiary,
            "black": $black,
            "white": $white,
            "light": $light,
            "dark": $dark,
            "grey": $grey,
        ),
        $theme-colors
);

$font-sizes: (
    128: 8rem,
    //128px
    96: 6rem,
    //96px
    64: 4rem,
    //64px
    36: 2.25rem,
    //36px
    32: 2rem,
    //32px
    24: 1.5rem,
    //24px
    20: 1.25rem,
    //20px
    18: 1.125rem,
    //18px
    16: 1rem,
    //16px
);

// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
    xxl: 1748px,
    ) !default;

// Container sizing
$container-max-widths: (
    sm: 540px,
    md: 740px,
    lg: 1280px,
    xl: 1442px,
    xxl: 1632px,
    ) !default;

$spacer: 1rem !default;
$spacers: (
    ) !default;

$spacers: map-merge((0: 0,
            1: $spacer * 0.25,
            2: $spacer * 0.5,
            3: $spacer,
            4: $spacer * 1.5,
            5: $spacer * 3,
            6: $spacer * 4,
            7: $spacer * 5,
            8: $spacer * 6,
            9: $spacer * 7,
            10: $spacer * 10,
            11: $spacer * 11,
            12: $spacer * 12,
            13: $spacer * 13,
            14: $spacer * 14,
            15: $spacer * 15,
        ),
        $spacers
);

$border-radius:               .25rem !default;
$border-radius-pill:          50rem !default;

$utilities: () !default;
$utilities: map-merge((
    "line-height":(
        property: line-height,
        class: lh,
        responsive: true,
        values: (
            1:1,
            2:2,
            3:1.29,
            4:4,
        )
    ),
    "rounded": (
        property: border-radius,
        class: rounded,
        responsive: true,
        values: (
            null: $border-radius,
            0:0,
            1:1px,
            2:2px,
            3:3px,
            4:4px,
            5:5px,
            6:6px,
            7:7px,
            8:8px,
            9:9px,
            10:10px,
            20:20px,
            circle: 50%,
            pill: $border-radius-pill
        )
    ),
    "font-weight": (
        property: font-weight,
        class: fw,
        responsive: true,
        values: (
            100:100,
            200:200,
            300:300,
            400:400,
            500:500,
            600:600,
            700:700,
            800:800,
            900:900
        )
    ),
    "letter-spacing": (
        property: letter-spacing,
        class: ls,
        values: (
            1: 0.01em,
            2: -0.2em
        )
    )
), $utilities);